<%= turbo_frame_tag "filters" do %>
  <ul data-controller="filter" class="bg-white w-60 h-60 border overflow-hidden rounded">
    <li class="bg-blue-500 py-3 px-3">
      <h1 class="font-bold text-white">Filtros</h1>
    </li>
    <li data-action="click->display#changeResults click->filter#changeBg" data-filter-target="filter" data-media-type="multi" class="flex py-2 px-2 mt-3 hover:bg-gray-200">
      <p class="flex-auto">Todos</p>
      <span class="<%= rounded_pill %>"><%= @results["multi_amount"] %></span>
    </li>
    <li data-action="click->display#changeResults click->filter#changeBg" data-filter-target="filter" data-media-type="movie" class="flex py-2 px-2 hover:bg-gray-200">
      <span class="flex-auto">Filmes</span>
      <span class="<%= rounded_pill %>"><%= @results["movie_amount"] %></span>
    </li>
    <li data-action="click->display#changeResults click->filter#changeBg" data-filter-target="filter" data-media-type="tv" class="flex py-2 px-2 hover:bg-gray-200">
      <span class="flex-auto">Series</span>
      <span class="<%= rounded_pill %>" ><%= @results["tv_amount"] %></span>
    </li>
    <li data-action="click->display#changeResults click->filter#changeBg" data-filter-target="filter" data-media-type="person" class="flex py-2 px-2 hover:bg-gray-200">
      <p class="flex-auto">Pessoas</p>
      <span class="<%= rounded_pill %>"><%= @results["person_amount"] %></span>
    </li>
  </ul>
<% end %>
