<div data-controller="modal" data-action="keyup@document->modal#escClose click->modal#blurClose" class="fixed z-10 inset-0 overflow-y-auto modal" aria-labelledby="dialog-1-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div data-modal-target="modal" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <!-- modal content -->
    <div class="p-3 inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-4xl sm:w-full">
      <div class="flex h-96">
        <div class="modal-image flex-shrink-0">
          <%= image_tag get_big_image_path(result["poster_path"] || result["profile_path"]), class: "hidden sm:block h-96 w-64 mr-3" %>
        </div>
        <div class="modal-body flex-grow">
          <h1 class="font-bold leading-6 text-lg"><%= result["title"] || result["name"] %></h1>
          <h3 class="text-semibold"><%= result["original_title"] || result["original_name"] %></h3>
          <h6 class="text-gray-500 mb-3"><%= convert_date(result["release_date"] || result["first_air_date"]) %></h6>
          <p class="text-xs break-normal overflow-hidden"><%= result["overview"] %></p>
        </div>
        <button type="button" data-action="modal#close" class="cursor-pointer -mt-3 h-10 w-10 text-2xl" id="closedialog">✖</button>
      </div>
    </div>

  </div>
</div>
